/*dark grey bg*/

body {
    background-color: #303030
}

/*Font and removes default spacing*/

body, h1, h2, p, ul, li, a {
    margin: 0; 
    padding: 0; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}

/*Simplifies list*/

ul {
    list-style-type: none; 
    margin-left: 20px; 
    margin-bottom: 12px;
}

/*List Font colors*/

ul li {
    margin-bottom: 5px;
    color: #eeff00;
}

/*Link color ALSO NOTE the order of text-decoration is important it must come BEFORE the color or it will remove it. First in last out*/

a {
    text-decoration: none;
    color:#eeff00
}

/*Adding a margin for H2 and adjusting font size*/

h2 {
    font-size: 2em; 
    margin-bottom: 1em; 
}

/*Adding margin to footer tags*/

footer {
    margin-top: 10em;
}

/*Adding margin to section tags*/

section {
    margin-bottom: 10em;
}

img, p {
    padding: 1em;
}

/*theoretically put a border box around sections*/

.bordered-section {
    border: 10px solid #eeff00;
    padding: 20px; /* distance from inner content */
    margin: 20px; /* distance from outer content */
}

#special-feature {
    text-decoration: none;
    background-color: #fde3a7;
}

a:hover { background-color: blue; color: white; }